*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-100: #f0f0ff;
    --primary-200: #d9d8ff;
    --primary-300: #7b79ff;
    --primary-400: #4945ff;
    --primary-500: #271fe0;

    --warning-100: #fae7b9;
    --warning-200: #f29d41;
    --warning-300: #ee5e52;
    --warning-400: #d02b20;
    --warning-500: #b72b1a;

    --success-100: #eafbe7;
    --success-200: #c6f0c2;
    --success-300: #5cb176;
    --success-400: #328048;
    --success-500: #2f6846;

    --alternative-100: #d618b3;
    --alternative-200: #e0c1f4;
    --alternative-300: #ac73e6;
    --alternative-400: #9736e8;
    --alternative-500: #8312d1;

    --neutral-100: #ffffff;
    --neutral-200: #f6f6f9;
    --neutral-300: #eaeaef;
    --neutral-400: #dcdce4;
    --neutral-500: #c0c0cf;
    --neutral-600: #a5a5ba;
    --neutral-700: #8e8ea9;
    --neutral-800: #666687;
    --neutral-900: #4a4a6a;
    --neutral-1000: #212134;
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Poppins", sans-serif;
}

body {
    font-family: var(--body-font);
    background-color: var(--neutral-100);
    color: var(--neutral-900);
}
